html,body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.home 
{
   background-color: #1b368d;
   height: 120px;
  
   
}
.sticky
{
    position:sticky;
    top: 0;
   z-index: 1000;
}
 .home.sticky
{
    background: linear-gradient(90deg, rgba(7,142,254,1) 3%, rgba(66,56,239,1) 43%, rgba(87,25,233,1) 73% ); 
    opacity: .8;
}

.header img
{
    padding: 30px 32px;
}
.menu ul>li{
    list-style: none;
    color: white;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 23px;
    font-family: 'Poppins-medium', sans-serif;
    letter-spacing: 0.1em;
   
}
.menu ul{
     /* margin-left: 140px; */
     margin-top: 35px; 
     position: relative;
     right: 30px;
    float: right;
   
}
.hire
{
    border: 2px solid white;
    border-radius: 5px;
    
}
.bg-image
{
    /* background-image: linear-gradient(#078efe,#413aef, #5719e9, url("..//image/bg-image.png" )); */
    /* background: #413bef  url("../image/bg-image.png"); */
    background-image: url("../image/Untitled-1.png");
    /* background: rgb(7,142,254); */
    background-size: cover;
    /* background-image: linear-gradient(90deg, rgba(7,142,254,1) 3%, rgba(66,56,239,1) 43%, rgba(87,25,233,1) 73% ); */
    height: 100%;
    width:100%;
    padding-bottom: 230px;
    padding-top: 200px;
    
}
.in-text h1{
     
    text-align: center;
    font-size: 60px;
    color: white;
    /* font-family: "Myriad Pro "; */
    /* font-family: "Myriad Pro", "Gill Sans MT", Calibri, sans-serif; */
    font-family: 'Poppins', sans-serif;
     /* font-weight: 400; */
    /* margin-top: 180px; */
    
}
.in-text p{

    text-align: center;
    font-size: 22px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    padding: 25px 0;
}
.in-text button{
    
    background-color: white;
    border: 0;
    box-shadow: 5px 5px 5px #756ecb;
    padding: 15px;
    margin:  auto;
    display: block;
    /* color:#2e45cd; */
    color: #1b72f9;
    padding: 25px 50px;
    font-size: 22px;
    font-family: 'Poppins-semibold', sans-serif;
    font-weight: 600;
   border-radius: 5px;
    text-transform:uppercase;
    /* margin-bottom: 20px; */
}
.images img
{ 
   /* height: 100%; */
    width: 100%; 
    height: 25px;
    position: relative;
    top: 200px;
    margin: 5px;
    padding: 0px 10px;  
}
.service
{
    align-items: center; 
    margin-top: 145px;
    margin-bottom: 109px;
}
.service-image img
{
    height: 458px;
    width: 100%;
    /* margin: 20px; */
}
.service-text h1
{

    color:#3e536a;
    font-family: 'Poppins-semibold', sans-serif;
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    
   
}
.service-text p{
    font-size: 20px;
    line-height: 30px;
    color:#3e536a;
    font-family: 'Poppins', sans-serif;
    
}

.service-text button
{
    color: white;
    border: 0;
    padding: 25px 30px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 8px 8px 5px #d3dbf5;
    font-family: 'Poppins-semibold', sans-serif;
    margin-top: 72px;
    /* background:linear-gradient(to-left, red ,yellow); */
    background: linear-gradient(90deg, rgba(7,142,254,1) 3%, rgba(66,56,239,1) 43%, rgba(87,25,233,1) 73% ); 

}
.customer
{
    background-color: #f2f6fb;
    padding: 110px 0;
}
.customer h1{
    color: #3f546b;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 100; */
    font-size: 40px;
    text-align: center;

}
.customer p{
    color: #3f546b;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}
.cards
{
    padding-top: 80px;
}
.card_info:hover 
{
    background: linear-gradient(90deg, rgba(7,142,254,1) 3%, rgba(66,56,239,1) 43%, rgba(87,25,233,1) 73% ); 

 
}
.card_info
{
    background-color: white;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    margin: 15px 15px;
    border-radius: 5px;
}
.card_info img{
    margin: auto;
    display: block;
   
   
   
    
}

.card_info h5{
    font-family: 'Poppins-semibold', sans-serif;
  font-size: 22px;
  color: #3f546b;
  margin: 0;
  padding-top: 20px;
 
}
.card_info p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 24px;
}
.mastery
{
    padding: 50px 0;
    text-align: center;
}
.mastery_text h1{
    font-size: 40px;
    color: #3f546b;
    text-align: center;
   
    font-family: 'Poppins', sans-serif;
}
.mastery_text p{
    font-size: 20px;
    color: #3f546b;
    text-align: center;
   
    /* font-weight: 400; */
    font-family: 'Poppins', sans-serif;
    /* padding: 0px 120px; */
   
}
.left-img 
{
    background-image:   url("../image/recta.png");
    background-size: cover;

    height: 100%;
    width: 100%;
    margin: 10px;

}
/* .left-img::after
{
    position: absolute  ;
  max-width: 100%;
    width: 100%;
    display: block;
    bottom: 100;
background-image: url("../image/gradiant.png");
   margin-top: -280px;
   opacity: .5;
  
   
   content: ''

} */
.left-img h1{
    
   font-size: 40px;
   color: white;
   top:25%;
  /* margin: 0 auto;
   left: 50%; */
  /* transform: translate(50% 50%);  */
   position: relative;
     text-align: center;
   margin:  auto;
   
}
.left-img p
{
    padding-top:80px;
    font-size: 22px;
    color: white;
    position: relative;
    top: 28%;
}
.border-white 
{
    border: 15px solid white;
    position: absolute;
    top: 82px;
    left: 95px;
   height: 80%;
    width: 80%;
    /* margin: 10px; */
}

.right-image img
{
    
width: 100%;
margin: 12px 0;
}
.bottom_text h6
{
    font-family: "Myriad Pro", "Gill Sans MT", Calibri, sans-serif; 
    font-size: 22px;
    
}
.blue
{
    color: #1b72f9;
}
.bottom_text img{
    position: relative;
    background-color: #1b72f9;
    color: white;
    left: 50px;
    top: 10px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 7px 7px 5px #d3dbf5;

}
.product
{
    background-image: url("../image/ract.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.product-text h1{
    font-size: 40px;
    color: white;
    text-align: center;
   
    font-family: 'Poppins-semibold', sans-serif;
}
.product-text p{
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}
.product_img img{
     
   margin-top: 30px;
 
} 
.product_info
{
   height: 100%;
   width: 100%;
}
.product_info h1
{
     color: white;
     margin: 0;
     font-size: 60px;
     font-family: 'Poppins-light', sans-serif;
     font-weight: 100;
}
.product_info p
{
     color: white;
     font-size: 16px;
     font-family: 'Poppins-semibold', sans-serif;
     margin: 0;
}
.product-card
{
    /* padding-top: 100px; */
    /* margin: 5px; */
    border: 1px solid white;
    border-radius: 5px;
    padding: 50px 50px;
    width: 100%;
    height: 90%;
    margin: 10px;
   
}
.producttt
{
    padding-top: 80px;
    padding-bottom: 85px;
}
.product_button  button
{
    margin: auto;
    display:block;
    border: 2px solid white;
    padding: 20px 50px;
    color: white;
    background-color: transparent;
    font-size: 18px;
    font-family: 'Poppins-semibold', sans-serif;
    font-weight: 700px;
    border-radius: 5px;
}
.client
{
    padding: 110px 0;
}
.client h1{
        font-size: 40px;
        color: #3f546b;
        text-align: center;
      
        /* font-family: 'Poppins', sans-serif; */
        font-family: "Myriad Pro", "Gill Sans MT", Calibri, sans-serif; 
        margin: 0;
}

.client p{
    font-size: 20px;
    color: #3f546b;
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.slider
{
 
 margin-top: 50px;
 
 
}
.item p
{
    /* margin: 10px; */
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}
.slider_img 
{
    height: 50px;
    width: 50px;
    margin: auto;
    display: block;
}

.item img{
    width: 10px;
    height: 50px;
    margin-top: 50px;
}
.item h6
{
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins-semibold', sans-serif;
    margin-top: 5px;
    color: #3f546b;
}
.hoverimg
{
    display: none;
}
.item h5
{
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    color: #3f546b;
    font-weight: 500;
}
.in-text h5{
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.project
{
    background-color:#f2f6fb;
    padding: 100px 0;
}
/* .owl-carousel :active
{
    background-color: gray;
} */
.project_text h1
{
        font-size: 40px;
        color: #3f546b;
        text-align: center;
       
        /* font-family: 'Poppins', sans-serif; */
        font-family: "Myriad Pro", "Gill Sans MT", Calibri, sans-serif; 
        margin: 0;
}
.project_text p 
{
    font-size: 20px;
    color: #3f546b;
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.icons
{
    margin-top: 50px;
}
.icons img{

    margin: 30px;
}
.icons1
{
    margin-top: 50px;
    margin-bottom: 80px;


}
.ic-img{
 
    
    height: 100px;
    
    border-left: 0;
    border: 1px solid #1b368d;
    

  
    
}
.leftt
{
    border-left: 0;
}
/* .ic-img:last-child */
.righht
{
    border-right: 0;
}
.pager-left
{
    height: 1px;
    width: 10px;
    background-color: #1b368d;
}
.owl-nav button.owl-prev,.owl-carousel button.owl-dot span
{
    display: none;
}


hr
{
    margin: 0;
    
}
.ic-bottom
{
    border-bottom: 2px solid black;
}
.indust
{
    padding: 100px 0;
}
.indust_text h1
{
        font-size: 40px;
        color: #3f546b;
        text-align: center;
        
        /* font-family: 'Poppins', sans-serif; */
        font-family: "Myriad Pro", "Gill Sans MT", Calibri, sans-serif; 
        margin: 0;
}
.indust_text p 
{
    font-size: 20px;
    color: #3f546b;
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.indust_button  button
{
    margin: auto;
    display:block;
    border: 2px solid #1b72f9;
    padding: 20px 50px;
    color: #1b72f9;
    background-color: transparent;
    font-size: 18px;
    font-family: 'Poppins-semibold', sans-serif;
    font-weight: 900px;
    border-radius: 5px;
}
.talk
{
    background-color:#f2f6fb;
    padding: 100px 0;
}
.talk_text h1
{
        font-size: 40px;
        color: #3f546b;
        text-align: center;
      
        /* font-family: 'Poppins', sans-serif; */
        font-family: "Myriad Pro", "Gill Sans MT", Calibri, sans-serif; 
        margin: 0;
}
.talk_text p 
{
    font-size: 20px;
    color: #3f546b;
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}
.talk_form input
{
    height: 60px;
    width: 320px;
    margin: 10px;
   
    border-radius: 5px;
    box-shadow: 0;
}
.talk_form2 input
{
    height: 150px;
    width: 90%;
    margin: 10px;
}
.talk_button  button
{
    float: right;
    display:block;
    border: 3px solid #1b72f9;
    padding: 20px 10px;
    color: #1b72f9;
    background-color: transparent;
    font-size: 18px;
    font-family: 'Poppins-semibold', sans-serif;
    font-weight: 900px;
    border-radius: 5px;
    margin-top: 20px;
}
.icons1 img{
    display: block;
    margin: auto;
    padding: 20px;
}




.ic-img:hover{
    background: linear-gradient(90deg, rgba(7,142,254,1) 3%, rgba(66,56,239,1) 43%, rgba(87,25,233,1) 73% ); 

}
.ic-img:hover .hoverimg
{
     display: block;
}
.ic-img:hover .top
{
     display: none;
}

.talk_buttonwhite button
{
    /* float: right; */
    display:block;
    border: 3px solid gray;
    padding: 20px 50px;
    color: black;
    background-color: transparent;
    font-size: 18px;
    font-family: 'Poppins-semibold', sans-serif;
    font-weight: 900px; 
    border-radius: 5px;
    margin-top: 20px;
}
.reee{
     
    height: 50px;
    width: 50px;
    background-color: black;
}
.owl-theme .owl-dots .owl-dot.active span
{
    background-color:rgba(66,56,239,1)!important;
}
.owl-theme .owl-dots .owl-dot span
{
    background-color: gray!important;
    height: 2.3px !important;
    width: 25px !important;
}

::placeholder
{
    color: black;
    font-size: 15px;
    position: relative;
    left: 10px;
}
.vl
{
    height: 200px;
    width: 1px;
}
.prev
{
    height: 2px;
    width: 50px;
    background-color: #3e536a;
    margin: 2px;
}
.footer
{
    background: linear-gradient(90deg, rgba(7,142,254,1) 3%, rgba(66,56,239,1) 43%, rgba(87,25,233,1) 73% ); 
    padding: 80px 0;
}
.footer ul>li
{
     font-size: 16px;
     list-style: none;
     color: white;
     padding-top: 10px;
     font-family: 'Poppins', sans-serif;
     line-height: 30px;

}
.list1 .boold
{
    font-size: 22px;
    font-family: 'Poppins-semibold', sans-serif;
    text-transform: uppercase;
}
.footer_border
{
    border: 0.5px solid rgba(7,142,254,1);
}
 .fab{
    color: #7f96f8;
    font-size: 22px;
    padding: 5px;
    padding-top: 20px;
}
.social-icons p{
    display: inline-block;
    float: right;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 575.98px) {
    .menu ul>li
    {
        display: none;
    }  


 }

@media (min-width: 576px) and (max-width: 768px) {

  
.menu ul>li
{
    display: none;
}
.mastery_text p{
   
    padding: 0px ;
}
 }


@media (min-width: 768px) and (max-width: 991.98px) { }


@media (min-width: 992px) and (max-width: 1199.98px) { }


@media (min-width: 1200px) { }